<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="NewBinding0" clientBaseAddress="http://localhost:9999" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="TheLazyService" binding="wsDualHttpBinding"
          bindingConfiguration="NewBinding0" contract="TheLazyInterfaces.ITheLazyService"
          name="TheLazyServiceEndpoint" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
</configuration>